#urlSearch {
	width: 600px;
	height: 35px;
	font-family: Arial;
	font-size: 18px;
	color: #15317E;
	border: 1px solid #15317E;
}

label {
	color: #15317E;
	font-family: Arial;
	font-size: 20px;
}

.search {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top:100px;
	text-align: center;
}